.container{
    align-items: center;
    text-align: center;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-image: url('../IMAGENS/Home.jpg');
        background-repeat: no-repeat;
        height: 100vh;
        
       
    }